@charset "utf-8";
/* CSS Document */
/* common.css */

/* body */
.body{
  position: relative;
  width: 100%;
  font-family: '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', 'メイリオ', sans-serif;
  font-weight: 500;
  color: #333;
  background: #fff;
  min-height: 100vh;
  box-sizing: border-box;
}
a, a:link, a:visited{
  text-decoration: none;
  border: none;
  color: #333;
}
.bold{
  font-family: '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ', sans-serif;
  font-weight: bold;
}

* {
 -webkit-tap-highlight-color:rgba(0,0,0,0);
}


/* header----------------------------*/
.header{
  /* position: fixed; */
  z-index: 888;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.75);
}
.header > .inner{
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  height: 3.125rem;
  display: table;
  table-layout: auto;
}
.header h1{
  height: 3.125rem;
  display: table-cell;
  text-align: left;
  color: #fff;
  vertical-align: middle;
  line-height: 1.2;
}
.header a{
  color: #fff;
}
.header div{
  height: 3.125rem;
  display: table-cell;
  text-align: right;
  color: #fff;
  vertical-align: middle;
}
.header p{
  font-size: .6875rem;
  line-height: 1.4;
}
.header p a{
  text-decoration: underline;
}

/* main ----------------------------*/
.main > .inner{
  margin: 0 auto;
  /* padding: 3.125rem 0 6rem; */
  padding: 0 0 6rem;
  width: 100%;
  max-width: 900px;
  min-height: 100vh;
  min-height: calc(100vh - 3.125rem - 6rem);
  box-sizing: border-box;
}

/* footer----------------------------*/
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 888;
  width: 100%;
}
.footer > .inner{
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  height: 6rem;
  display: table;
  table-layout: auto;
}
.footer .copy{
  width: 100%;
  padding-top: 3rem;
  height: 3rem;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: .625rem;
  line-height: 1.2;
}

.footer .for_top{
  position: fixed;
  z-index: 999;
  bottom: .25rem;
  right: .25rem;
  width: 2.8125rem;
  height: 2.8125rem;
}
.footer .for_top a{
  position: relative;
  display: block;
  width: 2.8125rem;
  height: 2.8125rem;
  background: rgba(0,0,0,.25);
  border-radius: 50%;
  transition: ease .5s;
}
.footer .for_top a::before{
  position: absolute;
  top: 50%;
  left: .78125rem;
  content: '';
  width: 1rem;
  height: .15rem;
  background: #fff;
  margin-top: .15rem;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}
.footer .for_top a::after{
  position: absolute;
  top: 50%;
  right: .78125rem;
  content: '';
  width: 1rem;
  height: .15rem;
  background: #fff;
  margin-top: .15rem;
  transform: rotate(45deg);
  transform-origin: right bottom;
}

/* margin-top --------------*/
.mt_10{ margin-top: .625rem !important;}
.mt_15{ margin-top: .9375rem !important;}
.mt_20{ margin-top: 1.25rem !important;}
.mt_30{ margin-top: 1.875rem !important;}
.mt_60{ margin-top: 3.75rem !important;}

/* margin-bottom --------------*/
.mb_15{ margin-bottom: .9375rem !important;}
.mb_20{ margin-bottom: 1.25rem !important;}
.mb_30{ margin-bottom: 1.875rem !important;}
.mb_50{ margin-bottom: 3.125rem !important;}
.mb_60{ margin-bottom: 3.75rem !important;}

/* font size --------------*/
.font_10{ font-size: .625rem !important;}
.font_11{ font-size: .6875rem !important;}
.font_12{ font-size: .75rem !important;}
.font_14{ font-size: .875rem !important;}
.font_24{ font-size: 1.5rem !important;}
.font_32{ font-size: 2rem !important;}
.font_40{ font-size: 2.5rem !important;}

/* font weight --------------*/
.font_b{ font-family: '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ', sans-serif; font-weight: bold !important;}

/* text color --------------*/
.txt_red{ color: #c92929 !important;}
.txt_blue{ color: #0000cd !important;}

/* line height --------------*/
.lh_12{ line-height: 1.2 !important;}
.lh_14{ line-height: 1.4 !important;}
.lh_15{ line-height: 1.5 !important;}
.lh_16{ line-height: 1.6 !important;}
.lh_18{ line-height: 1.8 !important;}
.lh_20{ line-height: 2 !important;}

/* text align --------------*/
.txt_c{ text-align: center !important;}
.txt_l{ text-align: left !important;}
.txt_r{ text-align: right !important;}

/* for PC ----------------------------*/
@media screen and (min-width: 769px) {
}
@media screen and (min-width: 641px) {
  .sp{
    display: none;
  }
}

/* for SP ----------------------------*/
@media screen and (max-width: 640px) {
  .pc{
    display: none;
  }
}
